# KIRTIKUMAR KADAM



#Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Input Format:

The first line of the input contains an email address.

Output Format:

Print the company name in single line.

Example;

Input:

john@google.com

Output:

google

In [1]:
n=input()
a=n.split("@")
b=a[1].split(".")
print(b[0])

kirtikumar@Engineer.com
Engineer

In [2]:
n=input()
a=n.split("@")
b=a[1].split(".")
print(b[0])

Netflix@OITNB.com
OITNB

#Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format:

The first line of input contains words separated by the comma.

Output Format:

Print the sorted words separated by the comma.

Example:

Input:

without,hello,bag,world

Output:

bag,hello,without,world

In [4]:
user_string =input().split(",")

user_string.sort()
new_str=",".join(user_string)
print("Afte arranging alphabetically :",new_str)

without,hello,bag,world
Afte arranging alphabetically : bag,hello,without,world

#Question 3:
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

## set:

In [5]:
my_set = {"p","q","r"}
print(my_set)

{'q', 'p', 'r'}

In [6]:
my_set.add("s")
print(my_set)

{'s', 'q', 'p', 'r'}

In [7]:
my_set.clear()
print(my_set)

set()

In [8]:
my_set = {"p","q","r"}
print(my_set)

{'q', 'p', 'r'}

In [9]:
my_set.copy()
print(my_set)

{'q', 'p', 'r'}

In [10]:

a= {"pune","satara","mumbai"}
b= {"mumbai","Latur","solapur"}

a.union(b)

{'Latur', 'mumbai', 'pune', 'satara', 'solapur'}

In [11]:
a= {"pune","satara","mumbai"}
b= {"mumbai","Latur","solapur"}

a.intersection(b)

{'mumbai'}

In [13]:
a= {"pune","satara","mumbai"}
b= {"mumbai","Latur","solapur"}

a.difference(b)

{'pune', 'satara'}

In [14]:
a= {"pune","satara","mumbai"}
b= {"mumbai","Latur","solapur"}

b.difference(a)

{'Latur', 'solapur'}

In [16]:

a= {"pune","satara","mumbai"}
b= {"mumbai","Latur","solapur"}

a.symmetric_difference(b)

{'Latur', 'pune', 'satara', 'solapur'}

In [17]:

a={1,2,3}
b={4,5,6}

a.isdisjoint(b)

True

In [18]:

a={1,2,3}
b={4,2,6}

a.isdisjoint(b)

False

In [19]:
a={1,2,3}
b={4,2,6,1,2}

a.issubset(b)

False

In [20]:
a={4,2,6,1,3}
b={1,2,3}

a.issuperset(b)

True

In [21]:
a={1,10,5}
a.update(["ajit","sujit"])
a

{1, 10, 5, 'ajit', 'sujit'}

In [22]:
a= {"pune","satara","mumbai"}
b= {"mumbai","satara","solapur"}

a.intersection_update(["satara","solapur"])
print(a)

{'satara'}

In [23]:
a= {"pune","latur","mumbai"}
b= {"mumbai","satara","solapur"}

a.difference_update(["mumbai","satara","solapur"])
print(a)

{'latur', 'pune'}

In [24]:
a= {"pune","latur","mumbai"}

a.remove("latur")
print(a)

{'pune', 'mumbai'}

In [25]:
a.discard("pune")
a

{'mumbai'}

In [26]:
b= {"mumbai","satara","solapur"}
b.pop()

'solapur'

## Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:

The first line contains n-1 numbers with each number separated by a space.

Output Format:

Print the missing number

Example:

Input:1 2 4 6 3 7 8

Output:5

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [29]:

import functools
from functools import reduce
n =int(input("Enter range "))
l=[]
print("Enter values in between 1 and ", n)
for i in range(1,n):
    if(i<=n):
        a=int(input())
        l.append(a)
print("missing value is:",int(n*(n+1)/2)-reduce(lambda a,b:a+b,l))

Enter range 8
Enter values in between 1 and  8
1234678

ValueError: invalid literal for int() with base 10: ''

## Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example: If the input list is 12 24 35 24 88 120 155 88 120 155 Then the output should be 12 24 35 88 120 155

Explanation: Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format: In one line take the elements of the list L with each element separated by a space.

Output Format: Print the elements of the modified list in one line with each element separated by a space.

Example:

Input: 12 24 35 24

Output: 12 24 35

In [31]:
l=list(map(int,input().split()))
g=[]
for i in l:
    if i not in g:
        g.append(i)
for i in g:
    print(i,end=" ")

12 24 35 24
12 24 35